<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentalService.Properties.Settings.RentalCarCaseDBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RentalCarCaseDB;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>