<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="AllowBigMessageSize" maxReceivedMessageSize="999999">          
        </binding>        
      </wsHttpBinding>

      <netNamedPipeBinding>
        <binding name="supportTransactionNetNamedBinding" transactionFlow="true">          
        </binding>
      </netNamedPipeBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ExposeMetaDataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9876/CarManagement/MEX" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service behaviorConfiguration="ExposeMetaDataBehavior" name="CarManagementService.CarManagementImplementation">
        <endpoint address="http://localhost:9876/CarManagementService" binding="wsHttpBinding"
            bindingConfiguration="AllowBigMessageSize" contract="CarManagementInterface.ICarManagement" />
      </service>
      
      <service name="CustomerService.CustomerServiceImplementation">
        <endpoint address="http://localhost:9876/CustomerService" binding="netNamedPipeBinding"
            bindingConfiguration="" contract="CustomerInterface.ICustomer" />

        <endpoint address="net.pipe://localhost/CustomerService" binding="wsHttpBinding"
            bindingConfiguration="" contract="CustomerInterface.ICustomer" />
      </service>
      
      <service name="ExternalInterfaceFacade.ExternalInterfaceFacadeImplementation">
        <endpoint address="http://localhost:9876/ExternalInterfaceService"
            binding="wsHttpBinding" bindingConfiguration="" contract="ExternalInterface.IExternalInterface" />
      </service>
      
      <service name="RentalService.RentalServiceImplementation">
        <endpoint address="http://localhost:9876/RentalService" binding="wsHttpBinding"
            bindingConfiguration="" contract="RentalInterface.IRental" />

        <endpoint address="net.pipe://localhost/RentalService" binding="netNamedPipeBinding"
            bindingConfiguration="" contract="RentalInterface.IRental" />
      </service>
    </services>
  </system.serviceModel>
</configuration>