<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="WSHttpBinding_ICarManagement" maxReceivedMessageSize="999999">
                <readerQuotas maxArrayLength="999999"/>
              </binding>              
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9876/CarManagementService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICarManagement"
                contract="CarReference.ICarManagement" name="WSHttpBinding_ICarManagement">
                <identity>
                    <userPrincipalName value="WIN-20140312ERU\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>